<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pharmacy_db</property>
    <property name="hibernate.connection.username">root</property>

    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NocacheProvider</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.hbm2ddl.auto" ></property>
    <mapping class="pharma_ex.User"></mapping>
    <mapping class="pharma_ex.pharmacy"></mapping>
   
    <mapping class="pharma_ex.Login"></mapping>
    <mapping class="pharma_ex.sales_rep"></mapping>
  </session-factory>
</hibernate-configuration>
